{
    "algorithm": "OPENSSL",
    "blacklist": [
    ],
    "chmod": "0755",
    "compression": "GZ",
    "directories": [
        "config",
        "src"
    ],
    "files": [
        "LICENSE.md"
    ],
    "finder": [
        {
            "name": "*.php",
            "exclude": ["tests", "test"],
            "in": "vendor"
        }
    ],
    "git-version": "package_version",
    "intercept": true,
    "key": ".travis/component-installer-private.pem",
    "main": "bin/zend-component-installer.php",
    "output": "zend-component-installer.phar",
    "stub": true
}
