.jumbotron {
  background-color: #68b604;
  color: white;
}

.content .jumbotron h1 {
  color: white;
  border-bottom: 0;
}

.features h2 {
  border-top: 0;
  margin-top: 0;
  margin-bottom: 1em;
  padding-top: 0;
  padding-bottom: 0;
}

.features .panel-heading h2 {
  margin-bottom: 0;
}
